body {
  background-image: url(./img/banner.png);
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    
}
main{
  border: 3px solid;
  padding: 10px 10px;
  margin: 150px auto ;
  color: black;
  width: 50%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}
h1{
  text-align: center;
}
.bg{
  background-color: beige;
}
button{
  display: block;
  width: 20%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  border-radius: 20px;
  border-color: white;
  min-width: 200px;
}
.heading {
  text-align: center;
  padding:2.5rem 0;
}
.heading span {
  font-size: 2.5rem;
  background: rgba(255,165,0,.5);
  color:var(--main-color);
  border-radius: .5rem;
  padding:.2rem 1rem;

}
.heading span.space {
  background:none;
}
.top{
  background: linear-gradient(to right, rgb(247, 231, 206), rgb(255, 253, 208));
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;  
}
@media (max-width: 600px) {

}

@media (max-width: 900px) {
}