body {
  background-image: url(./img/banner.png);
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    
}
main{
  border: 3px solid;
  padding: 10px 10px;
  margin: 150px auto ;
  color: black;
  width: 50%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.6);
}
h1{
  text-align: center;
}
.bg{
  background-color: beige;
}
button{
  display: block;
  width: 20%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  border-radius: 20px;
  border-color: white;
  min-width: 200px;
}
